body {
    background-color: palegreen;
}

.start_game {
    margin-left: 10%;
}

select {
    margin-left: 5%;
    text-align: center;
}

.my_container {
    width: 400px;
    margin: auto;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    cursor: default;
}

.active {
    background-color: blue;
}

.red {
    background-color: red;
}